<!--<app-name-card cardName="Hoang Vi & NMCT" email="hvixinh@gmail.com" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar [progress]="0"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->

<!--<app-form></app-form>-->

<!--<app-product></app-product>-->

<!--<app-todo></app-todo>-->

<!--<app-register></app-register>-->

<a routerLink="/timelines">Ứng dụng tính thời gian sống</a> <br>
<!--<div>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<a routerLink="/youtube">Youtube</a><br>

<a routerLink="/product/list">Danh sách sản phẩm</a>|<a routerLink="/product/create">Tạo mới sản phẩm</a>

<div><router-outlet></router-outlet></div>
