<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://scontent.fhan5-7.fna.fbcdn.net/v/t39.30808-6/271760375_4686939214715400_8270908064630449280_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=6JOcDa31fO4AX_GLtb2&_nc_ht=scontent.fhan5-7.fna&oh=00_AT_vbQNB3LwZ3nAgCNNtlOEaBicJdxdtmdmhtVrMFzDCqg&oe=61E9ED30" alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{ cardName }}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
  </div>
</div>
