<table class="table">
  <thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pro of productList">
    <th>{{pro.id}}</th>
    <th>{{pro.name}}</th>
    <th>{{pro.price}}</th>
  </tr>
  </tbody>
</table>

<form [formGroup]="formDemo" (submit)="create()">
  <input type="text" formControlName="id">
  <input type="text" formControlName="name">
  <input type="text" formControlName="price">
  <button >Submit</button>
</form>

